<app-header titulo="Infinite scroll"></app-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of data;let i = index;">
      <ion-label>Item {{i+1}}</ion-label>
    </ion-item>
  </ion-list>

  <!-- threshold => cuando llegue a 100px antes del bottom se activa el evento (ionInfinite)-->

  <ion-infinite-scroll threshold="100px" position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>