<app-header titulo="Action sheet"></app-header>
<!-- <ion-header> -->
<!-- <ion-toolbar> -->

<!-- <ion-buttons slot="start"> -->
<!-- defaultHref => existe una página anterior? redirecciona al usuario a esa página : redirecciona al usuario a la ruta principal -->
<!-- mode="ios" fuerza al componente a verse como una pantalla en IOS -->
<!-- <ion-back-button defaultHref="/" text="Regresar" color="primary" mode="ios"></ion-back-button> -->
<!-- </ion-buttons> -->

<!-- <ion-title>action-sheet</ion-title> -->

<!-- </ion-toolbar> -->
<!-- </ion-header> -->

<ion-content class="ion-padding">

  <ion-button expand="block" fill="clear" (click)="onClick()">
    Click me
  </ion-button>

</ion-content>