<app-header titulo="card"></app-header>

<ion-content>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus facilis, quisquam tempore laudantium delectus
      sapiente vitae aliquam nobis est voluptatem doloribus cumque porro tenetur sequi deleniti velit amet illum dolore!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <!-- Las imagenes en ionic son responsive -->
    <img
      src="https://asset.vg247.com/metal_gear_solid_3.jpg/BROK/thumbnail/1600x900/quality/100/metal_gear_solid_3.jpg">
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse deserunt facilis aperiam mollitia labore nemo vero,
      animi expedita aliquam a autem eaque eligendi perferendis placeat tempora sint hic, reprehenderit suscipit.
    </ion-card-content>
  </ion-card>
</ion-content>